@use 'mixin';
@use 'reset';
@use 'utility';

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: mixin.$main;
  color: #fff;
}

::selection {
  background-color: mixin.$main;
  color: #fff;
}

body {
  color: #222;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
}

.logo-type {
  font-family: makinas-4-flat, sans-serif;
  font-weight: 400;
  font-style: normal;
}

// .en {
//   font-family: "adobe-handwriting-ernie", sans-serif;
//   font-weight: 400;
//   font-style: normal;
// }

// .ja {
//   font-family: 'Hiragino Mincho ProN', sans-serif;
// }

.pined {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
}

p {
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.42px;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;

  &:hover {
    @include mixin.transition;
  }
}

.page-contents {
  width: 100%;
  margin: auto;
}

.box {
  background-color: white;
  padding: 100px 70px 80px;
}

.blog-dots {
  display: none;

  @include mixin.max-screen(mixin.$small) {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
  }

  .blog-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #a2a2a2;
    cursor: pointer;

    &.active {
      background: black;
    }
  }
}